section{
  text-align: center;

}
.div-contanier{
margin-top: 10px ;
display:grid;
grid-template-columns:repeat (3, auto);
width: 300px;
margin: 50px;
align-items: center;
justify-content: ;

}
.ceil{
    height: 200px; ;
    width: 200px;
    border: solid 1px rgb(0, 0, 0);
}