body {
    font-family: "Arial", sans-serif;
  }
section{
  text-align: center;

}
.div-contanier{
margin-top: 10px ;
display:grid;
grid-template-columns:repeat (3, auto);
width: 300px;
margin: 50px auto;
align-items: center;
justify-content: center;

}
.ceil{
   
}
.btn restart{
padding: ;

cursor: pointer;
}